:root {
  --animate-delay: 1.2s;

	--fontSizeBase: 14px;
  @include media-breakpoint-up(xl) {
    --fontSizeBase: #{$em-base};
  }


  --sPT: #{rem(70)};
  --sPB: #{rem(70)};
  --sTPB: #{rem(30)};

  --swiperArrowSize: #{rem(97)};
  @include media-breakpoint-up(lg) {

    --swiperArrowPosition: 0;
  }
  --swiperArrowPosition: 15px;
  --swiperBorderColorDef: var(--bs-primary);
  --swiperColorDef: var(--bs-primary);
  --swiperBgDef: #ffffff;

  @include media-breakpoint-up(xl) {

    --mbitem: #{rem(65)};
  }
  --mbitem: #{rem(30)};
}