.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-left-lg {
	font-size:(97/10)*1rem;
	width:(31/97)*1em;
}
.icon-arrow-right {
	font-size:(27/10)*1rem;
	width:(15/27)*1em;
}
.icon-arrow-right-lg {
	font-size:(97/10)*1rem;
	width:(31/97)*1em;
}
.icon-basket {
	font-size:(24/10)*1rem;
	width:(22/24)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-chevron-left {
	font-size:(27/10)*1rem;
	width:(15/27)*1em;
}
.icon-fb {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-instagram {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-logo {
	font-size:(115.3/10)*1rem;
	width:(117/115.3)*1em;
}
.icon-telegram {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-viber {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-vk {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-whatsapp {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
