mixin headerBlock()
	// start headerBlock
	+b.headerBlock&attributes(attributes)
		+e.video-block.video-background
			+e.wrap 
				<video class="fillItUp video" id="bgvid" poster="img/header-bg.jpg" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
					<source src="video/video.mp4" type="video/mp4"/>
					<source src="video/video.ogv" type="video/ogv"/>
					<source src="video/video.webm" type="video/webm"/>
				</video>
				+e.text-block 
					.container
						+e.caption
							h1 Участки ИЖС в&nbsp;поселке премиум-класса &laquo;Чистые пруды&nbsp;3&raquo;
							p центральные коммуникации, хвойные деревья на&nbsp;участке, инфраструктура г.Пушкино.
						+e.btn(href="#") Подобрать участок
		+e.footer
			.container
				+e.row.row
					.col-lg-6
						+e.title 
							span.ttu “Чистые пруды 3” 
							| Идеальное место для жизни и отдыха
						.row
							+e.col.col-sm-4
								+e.icon-wrap
									img(src="img/@2x/icon-1.png", alt="")
								+e.text 17&nbsp;км
									br
									| от&nbsp;москвы 
							+e.col.col-sm-4
								+e.icon-wrap
									img(src="img/@2x/icon-2.png", alt="")
								+e.text чистый воздух,
									br
									| сосновый лес 
							+e.col.col-sm-4
								+e.icon-wrap
									img(src="img/@2x/icon-3.png", alt="")
								+e.text Прозрачные
									br
									| цены


					.col-lg-6
						p Коттеджный поселок расположен на&nbsp;территории одного из&nbsp;самых красивых природных уголков Подмосковья, в&nbsp;Пушкино. Общая площадь поселка равна примерно 42&nbsp;га, на&nbsp;которых разместились 170 земельных участков. Каждый из&nbsp;них занимает от&nbsp;10&nbsp;до&nbsp;22&nbsp;соток.
						p Покупателям предлагается на&nbsp;выбор более 25&nbsp;различных проектов кирпичных жилых домов площадью от&nbsp;70&nbsp;кв.&nbsp;м до&nbsp;900&nbsp;кв.&nbsp;м.
						p  &laquo;Чистые пруды 3&raquo;&nbsp;&mdash; одно из&nbsp;самых качественных предложений на&nbsp;рынке загородного жилья Подмосковья.
						+e.link-more(href="#") Узнать больше
							+icon("arrow-right-text")
	// end headerBlock