// start .headerBlock
.headerBlock {
	margin-left: auto;
	margin-right: auto;
	max-width: 1440px;
	position: relative;
	z-index: 2;
	&::before,
	&::after{
		content: '';
		position: absolute;
		height: calc(100% - 200px);
		width: 100vw;
		z-index: -1;
		
	}
	&::before{
		right: 0;
		background-color: $primary;
		top: 100px;
	}
	&::after{ 
		top: 200px;
		left: 0;
		background-color: $dark;
	}
	&__wrap{
			@include media-breakpoint-up(lg){
				padding: 0;
				@include block(1280, 720);
			}
			padding: rem(30) 0;
			position: relative;
			z-index: 2;
		margin-left: auto;
		margin-right: auto;
		max-width: 1280px;
		video{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
		}
	}
	&__text-block{
			@include media-breakpoint-up(lg){

				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		z-index: 2;
		color: #ffffff;
		// align-items: center;
		.container{
				@include media-breakpoint-up(xl){

					max-width: 1067px;
				}
		}
	}
	h1{
		font-weight: 900;
		text-transform: uppercase;
		line-height: (51 / 41);
	}
	&__caption{
		max-width: rem(603);
		 	@include media-breakpoint-up(lg) {

				 padding: rem(55) rem(30) rem(30);
				 padding-right: rem(20);
			 }
			 padding: rem(20);
		margin-bottom: rem(30);
		background-color: rgba($color: #292929, $alpha: .62); 
		
	}
	p{
		font-size: rem(21);
	}
	&__btn{
		@extend .btn;
		@extend .btn-warning;
		width: 230px;
		margin-left: rem(35);
		margin-bottom: rem(30);
	}
	&__row{
			@include media-breakpoint-up(xl) {

				@include roww(rem(82));
			}
	}
	&__footer{
		// background-color: $dark;
			@include media-breakpoint-up(xl){

				padding: rem(30);
			}
			padding:  rem(30) 0;
		color: #ffffff;
		p{
			font-size: $h6-font-size;
			font-weight: 100;
			line-height: (24 / 18);
				@include media-breakpoint-up(lg){

					max-width: rem(490);
				}
		}
	}
	&__title{
		@extend .h2;
		font-weight: 900;
		@include media-breakpoint-up(lg) {

			text-align: right;
			margin-left: auto;
			max-width: 420px;
		}
		text-align: center;
		color: #ffffff;
	}
	&__col{
		text-align: center;
		color: $primary;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.2; 
			@include media-breakpoint-down(sm) {
				display: flex;
				align-items: center;
				text-align: left;
			}
		// margin-bottom: 10px;
		@include media-breakpoint-up(lg){
			
			padding-top: rem(100);
			padding-bottom: 10px;
		}
		padding-top: rem(20);
			padding-bottom: 30px;
		img{
			max-height: 100%;
		}
	}
	&__icon-wrap{
		margin-bottom: rem(10);
		height: rem(51);
			@include media-breakpoint-down(sm){
				width: 60px;
				text-align: center;
				margin-right: 15px;
			}
	}
	&__link-more{
		display: inline-block;
			@include media-breakpoint-up(lg){

				margin-top: rem(40);
			}
		font-size: $h6-font-size;
		font-weight: bold;
		.icon{
			margin-left: rem(20);
			font-size: rem(11);
		}
	}
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock