extends layout/main.pug

include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sProdCard/_sProdCard.pug

block variables
	- let  mainPage= null
block title
	- let  title= '01'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+sProdCard()
	//-+headerBlock()
	//+sAdvanteges
	//+sGal
	//+sMap
	//+sPlan
	//+sForm()
	+sForm()
	+sCatalog
	+footer()