extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAdvanteges/_sAdvanteges.pug
include ../blocks/sGal/_sGal.pug
include ../blocks/sMap/_sMap.pug
include ../blocks/sPlan/_sPlan.pug
include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+headerBlock()
	section.section
		.container
			+b.section-title
	+sAdvanteges
	+sGal
	+sMap
	+sPlan
	+sForm()
	+sCatalog
	+footer()


	