mixin sAdvanteges()
	// start sAdvanteges
	+b.SECTION.sAdvanteges.section#sAdvanteges&attributes(attributes)
		.section-inner
			.container
				+b.section-title.text-center
					h2 Несомненные преимущества приобретения  участка&nbsp;в&nbsp;коттеджном поселке <br class="d-none d-xl-block"> Чистые пруды&nbsp;3
					
				.row
					mixin item(i,t,p)
						+e.col.col-lg-4.col-sm-6
							+e.item
								+e.head
									+e.img-wrap
										img(src=`img/@2x/advanteges-${i}.png` loading="lazy", alt="")
									+e.title!= t
								+e.body!= p
						// /+e.col.col-lg-4.col-sm-6
					+item(`1`,`ЦЕНТРАЛЬНЫЕ КОММУНИКАЦИИ`,`Поселок обеспечен всеми централизованными системами жизнеобеспечения, включая газ, электричество, водоснабжение, водоотведение.`)

					+item(`2`,`РАЗВИТАЯ ИНФРАСТРУКТУРА`,`Близость г. Пушкино со&nbsp;всей его инфраструктурой. В&nbsp;пешей доступности гипермаркеты Глобус, Леруа Мерлен, Ашан, ТРЦ Пушкино-Парк, ТРЦ Акварель.`)

					+item(`3`,`ТРАНСПОРТНАЯ ДОСТУПНОСТЬ`,`Близость г. Пушкино со&nbsp;всей его инфраструктурой. В&nbsp;пешей доступности гипермаркеты Глобус, Леруа Мерлен, Ашан, ТРЦ Пушкино-Парк, ТРЦ Акварель.`)

					+item(`4`,`участки с&nbsp;деревьями`,`Прекрасный хвойный лес  на&nbsp;участке . Старинные деревья отделяют жилой комплекс от&nbsp;автомагистрали, не&nbsp;давая выхлопным газам пробираться  на&nbsp;территорию поселка.`)

					+item(`5`,`проекты <br> домов`,`На&nbsp;выбор предлгается более 25&nbsp;проектов домов. Все проекты соответствуют современным требованиям к&nbsp;загородным домам.`)

					+item(`6`,`безопасность проживания`,`Территория поселка огорожена. `) 
	// end sAdvanteges