//- menu
mixin mnu()
	-
		var nav= {
			"о поселке ":"#",
			"участки":"#",
			"расположение":"#",
			"генплан":"#",
			"проекты":"#",
			"контакты":"#"
			}
	+b.UL.navMenu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each linkPatch, linkName in nav
			+e.LI.item( itemprop="item" ): +e.A.link(href= linkPatch  itemprop="url")= linkName
//- /menu